.ease_top_bottom-enter-active {
  animation: ease_top_bottom-control 0.5s ease-in-out;
}
.ease_top_bottom-leave-active {
  animation: ease_top_bottom-control 0.5s ease-in-out reverse;
}
@keyframes ease_top_bottom-control {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  20% {
    opacity: 0;
    transform: translateY(95%);
  }
  80% {
    opacity: .95;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
